*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100px;
}

body{
    /*background-image: url(0685a1e3a138583dd50ed25634a7a5ab.jpg);*/
    background-color: rgb(221, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(5, 2, 14);
}
nav {
    background-color: rgb(209, 15, 90);
}

